.Home {
  background: url("components/Home/test.jpg");
  height: 780px;
  background-size: cover;
  background-position-y: 100%;
  .overlay {
    width: 100%;
    position: absolute;
    height: 780px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.421);
  }
  .container {
    max-width: 1430px;
  }
  .PageName_01 {
    font-size: 165px;
    font-family: $header-font;
    margin-top: 200px;
    color: white;
  }
  .PageName_02 {
    @extend .PageName_01;
    margin-top: -85px;
  }
  .PageDesc {
    width: 32%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: -41px;
  }
  .start {
    width: 200px;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    z-index: 0;
    margin: 20px 0;
    overflow: hidden;
    color: white;
    padding: 10px 0;
    position: relative;
    border: 1px solid $orange-color;
    transition: 0.4s;
    &::after {
      background-color: $orange-color;
      position: absolute;
      content: "";
      width: 100%;
      left: 0;
      transition: 0.4s;
      top: 0;
      height: 100%;
      z-index: -1;
    }
    &:hover {
      color: $orange-color;
      &::after {
        left: 100%;
      }
    }
  }
  @media (max-width: 767px) {
    height: 850px;
    background-position-x: 75%;
    .overlay {
      height: 850px;
    }
    text-align: center;
    .PageName_01 {
      font-size: 105px;
      margin-top: 250px;
    }
    .PageName_02 {
      margin-top: -50px;
    }
    .PageDesc {
      width: 100%;
      margin-top: 0;
    }
    .start {
      margin: 50px auto;
    }
  }
}
